.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: 30%;
}

.logoContainer {
  width: 25%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  display: block;
}

.navBar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2%;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  position: relative;
  z-index: 9999;
}

.navBar::-webkit-scrollbar {
  display: none;
}

.navBar li a {
  font-size: 2vw;
  text-decoration: none;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navBar li a:hover {
  text-decoration: underline;
  background-color: #D3D3D3;
}

.seperatorLineB {
  width: 2px;
  height: 25%;
  background-color: black;
  border: 1px solid black;
}

.contentContainerA {
  width: 100%;
  height: 100%;
}

.appInfoContainer {
  width: 100%;
  height: 100%;
}

.appVerticalOri {
  width: 100%;
  height: 100%;
}

.appHorizontalOri {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appVerticalOriB {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appHorizontallOriB {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLogo {
  width: 30%;
  height: 100%;
  display: block;
}

.titleD {
  font-size: 3.5vh;
}

.appPageDesc {
  font-size: 3vh;
}

@media (prefers-color-scheme: dark) {
  .mainContainer {
    background-color: black;
    color: white;
  }

  .seperatorLineB {
    background-color: white;
    border: solid white;
  }

  .navBar li a {
    color: white;
  }

  .navBar li a:hover {
    background-color: #1C1C1C;
  }
}

@media (max-width: 1000px) {
  .navBar li a {
    font-size: 20px;
  }
}
